/* global styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
}

/* installing font */
@font-face {
    font-family: 'Shabnam';
    src: local('Shabnam'), url(../fonts/Shabnam.ttf?5b9b09c283c263361c6d134ba4374bcc) format('truetype');
}

/* body styles, you can put image instead */
body {
    background: #fff;
    font-family: 'Shabnam' ,'Lexend Mega', sans-serif;
}


/* CLASS STYLES DOWN BELOW */


/* yellow background */
.background {
    width: 500px;
    height: 700px;
    background: #F2DF2F;
    margin: 0 auto;
    z-index: 99;
}

/* main container */
.signin-container {
    width: 500px;
    height: 100vh;
    background: transparent;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

/* declaring container-col for it to be a col-flex */
.container-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    z-index: 99;
}

/* Login Text */
.login-text h1 {
    font-size: 150px;
    padding: 20px;
    z-index: 99;
}

/* hr Style */
hr {
    border: 1px solid rgb(88, 88, 88);
    margin: 20px 0;
    width: 75%;
    z-index: 99;
}

/* creating inputs */
.inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
    margin-bottom: 18px;
    z-index: 99;
}

/* Styling inputs as a whole */
.input {
    width: 390px;
    height: 40px;
    border: none;
    padding: 0 20px;
    transition: 0.3s;
    z-index: 99;
    background: #fff494;
}
.input::-moz-placeholder {
    color: black;
    font-size: larger;
    font-family: 'shabnam';
}
.input:-ms-input-placeholder {
    color: black;
    font-size: larger;
    font-family: 'shabnam';
}
.input::placeholder {
    color: black;
    font-size: larger;
    font-family: 'shabnam';
}

/* making hover for input */
.input:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Styling inputs separatly */
#input-one input {
    border-radius: 15px 15px 0 0;
    z-index: 99;
}
#input-two input {
    border-radius: 0 0 15px 15px;
    z-index: 99;
}


/* Styling options under Text inputs */
.functions{
    display: flex;
    flex-direction: row;
    width: 380px;
    justify-content: space-between;
    height: 50px;
    z-index: 99;
}

/* Declaring buttom container */
.bottom-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

/* Declaring the blue background for Submit */
.main-signin-container {
    width: 250px;
    height: 250px;
    background: #fff494;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

/* Sign in button !!! */
.main-signin-container input {
    background: transparent;
    color: #000;
    border: none;
    font-size: 45px;
    padding-top: 15px;
    z-index: 99;
    font-family: 'shabnam';
    transition: 0.3s;
}
.main-signin-container input:hover {
    font-size: 48px;
    transition: 0.3s;
}

/* Declaring gradient at the end */
.gradient {
    background-image: url("/images/gradient.svg");
    margin: 0 auto;
    width: 500px;
    height: 123px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5px;
    z-index: 99;
}

/* Particles js */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
}
